[package]
name = "maplibre-demo"
version = "0.1.0"
categories = []
edition = "2021"
authors = ["Maximilian Ammann <max@maxammann.org>"]
license = "MIT OR Apache-2.0"
description = "Demo of maplibre"
readme = "../README.md"

[features]
web-webgl = ["maplibre/web-webgl"]
trace = ["maplibre/trace", "tracing-subscriber", "tracing-tracy", "tracy-client"]

[dependencies]
env_logger = "0.9"
maplibre = { path = "../maplibre", version = "0.0.2", features = ["headless"]  }
maplibre-winit = { path = "../maplibre-winit", version = "0.0.1"  }

tracing = { version = "0.1" }
tracing-subscriber = { version = "0.3", optional = true }
tracing-tracy = { version = "0.8", optional = true }
tracy-client = { version = "0.12.7", optional = true }

# Logging
log = "0.4"