name: Build demo for Windows

on:
  workflow_call:

jobs:
  demo-windows:
    name: Build
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v2
      - uses: extractions/setup-just@v1
      - name: Install toolchain
        shell: bash
        run: |
          just stable-toolchain
          just stable-targets x86_64-pc-windows-msvc
      - uses: Swatinem/rust-cache@v1
      - uses: ilammy/msvc-dev-cmd@v1 # Provide access to lib.exe
      - name: Build
        shell: bash
        run: cargo build -p maplibre-demo --release --target x86_64-pc-windows-msvc
      - name: Check x86_64 windows
        shell: bash
        run: just check maplibre-demo x86_64-pc-windows-msvc
      - name: Test x86_64 windows
        shell: bash
        run: just test maplibre-demo x86_64-pc-windows-msvc
      - uses: actions/upload-artifact@v3
        with:
          name: maplibre-x86_64-windows-demo
          path: target/x86_64-pc-windows-msvc/release/maplibre-demo.exe
          if-no-files-found: error
