name: Build & Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  run-check:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/check
  run-benchmarks:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/benchmarks
  run-tests:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/tests
  build-android:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/android
  build-deploy-webgpu:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/webgpu
      - uses: ./.github/actions/deploy
        with:
          source: web/demo/dist/.
          destination: webgpu
          key: ${{ secrets.SSH_KEY_MAXAMMANN_ORG }}
  build-deploy-webgl:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/webgl
      - uses: ./.github/actions/deploy
        with:
          source: web/demo/dist/.
          destination: webgl
          key: ${{ secrets.SSH_KEY_MAXAMMANN_ORG }}
  build-deploy-docs:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/docs
      - uses: ./.github/actions/deploy
        with:
          source: target/doc/.
          destination: api-docs
          key: ${{ secrets.SSH_KEY_MAXAMMANN_ORG }}
      - uses: ./.github/actions/deploy
        with:
          source: docs/book/.
          destination: docs
          key: ${{ secrets.SSH_KEY_MAXAMMANN_ORG }}
  build-ios:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/apple
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  build-demo-linux:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/demo/linux
  build-demo-windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/demo/windows
  build-demo-macos:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/demo/macos
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

