name: Pull Request

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  run-check:
    uses: ./.github/workflows/run-checks.yml
  run-benchmarks:
    uses: ./.github/workflows/run-benchmarks.yml
  run-tests:
    uses: ./.github/workflows/run-tests.yml
  build-deploy-docs:
    uses: ./.github/workflows/build-deploy-docs.yml
    with:
      deploy: false
  library-android:
    uses: ./.github/workflows/library-android.yml
  library-web:
    uses: ./.github/workflows/library-web.yml
    with:
      name: maplibre-rs-demo-webgl
      webgl: true
      multithreading: false
      deploy: true
  library-apple:
    uses: ./.github/workflows/library-apple.yml
  demo-linux:
    uses: ./.github/workflows/demo-linux.yml
  demo-windows:
    uses: ./.github/workflows/demo-windows.yml
  demo-macos:
    uses: ./.github/workflows/demo-macos.yml
    secrets: inherit
