name: Run checks

on:
  workflow_call:

jobs:
  run-checks:
    name: Check
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: extractions/setup-just@v1
      - name: Install toolchain
        shell: bash
        run: just stable-toolchain
      - uses: Swatinem/rust-cache@v1
      - name: Format
        shell: bash
        run: just fmt-check
