name: Run benchmarks

on:
  workflow_call:

jobs:
  run-benchmarks:
    name: Benchmark
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: extractions/setup-just@v1
      - name: Install toolchain
        shell: bash
        run: |
          just stable-toolchain
          just stable-targets x86_64-unknown-linux-gnu
      - uses: Swatinem/rust-cache@v1
      - name: Install GPU Drivers
        uses: ./.github/actions/install-driver
      - name: Download test data
        uses: ./.github/actions/download-test-data
      - name: Benchmark
        shell: bash
        run: WGPU_BACKEND=vulkan just benchmark
